PORT=8000
DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost,example.isl.codes

SSLIFY_DISABLE=True

SECRET_KEY=

# To create the database locally: createdb islideas
DATABASE_URL=postgres://localhost/islideas

# Include environment host (ex: my-project-staging.herokuapp.com)-- Leave empty when running locally
WS_HOST=
