// Buttons

.button {
    padding: .75em .9375em;
    border-radius: 4px;
    background: $primary-color;
    font-size: 1em;
    margin: 0;

    &:hover {
        background: darken($primary-color, 5%);
    }
}

.button--ghost {
    border-color: $primary-color;
    border-width: 2px;
    background-color: transparent;
    color: $primary-color;
}

.button--ghost-alt {
    border-color: #fff;
    color: #fff;

    &:active,
    &:hover,
    &:focus {
        background: #fff;
        color: $primary-color;
    }
}

.text-link {

}

.text-link__space-left {
    margin-left: rem-calc(20);
}

.text-link--white {
    color: $white;
    transition: all .2s;

    &:hover {
        opacity: .8;
        color: $white;
    }
}

.text-link--alt {
    color: $slate;
    text-decoration: underline;

    &:hover {
        color: darken($slate, 15%);
    }
}

.text-link--no-decoration {
    text-decoration: none;
}

.text-link--primary {
    color: $primary-color;

    &:hover {
        color: darken($primary-color, 15%);
    }
}

