{% extends 'ideas/interior.html' %}
{% block title %}
Edit {{ idea.title }}{{ block.super }}
{% endblock title %}

{% block content %}
<div class="modify-content__container">
    <div class="row">
        <div class="columns small-12 medium-8 medium-offset-2">
          <h1 class="heading--medium">Edit Idea</h1>
            <form role="form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">Save Changes</button>
                <a href="{% url 'idea_detail' idea.slug %}" class="text-link--alt text-link--no-decoration text-link__space-left">Cancel</a>
              </form>
        </div>
    </div>
</div> <!-- end .edit-delete-comment__container -->
{% endblock %}
